<html>
     <head>
         <title>Title</title>
         <style>
         	.ctr{
         		margin:60px;
         	}
         </style>
         
     </head>
     <body>
        <div class=ctr>
            <p><b>To be used only for transferring funds into a Standard Bank Isle of Man Ltd account</b></p>
            
            <div>
                <p><b>To the Manager</b></p>
            </div>
            
            <div>
                <p>Remitting bank name:</p>
                <p>Remitting bank address:</p>
            </div>
            <br/>
            <div>
                <p>Date:</p>
                <p>Dear</p>
            </div>
            
            <div>
                <p>Please can you arrange the following transfer from my account held at your Bank, to my account held<br/> 
                with Standard Bank Isle of Man Limited:
                
            </div>
            <div>
                <h3><u>From (Remitting bank account)</u></h3>
            </div>
            
            <div>
                <p>Debiting account name:</p>
                <p>Debiting account number:</p>
                <p>Amount:</p>
                <p>Currency:</p>
                <p>Date payment to be made:</p>
                <p>Reference to appear on payment:</p>
            </div>
            <div>
                <h3><u>For credit to</u></h3>
            </div>
            
            <div>
                <p>Bank name:</p>
                <p>Bank address:</p>
            </div>
            <br/>
            <div>
                <p>BIC/SWIFT code:</p>
                <p>Sort code (for GBP transfers from UK only):</p>
                <p>IBAN/Account number:</p>
                <p>Account name:</p>
            </div>
            <div>
                <p>If applicable: Please attach a print of any relevant currency routing details</p>
            </div>
            <br/>
            <div>
                   <p>Yours sincerely</p>
                   <br/>
                   
            </div>
            <div>
                <p><b>Print name:</b></p>
                <p><b>Contact telephone number:</b></p>
            </div>
        </div>    
     
     </body>
 </html>